<!-- FOOTER AREA -->
<footer id="footer" class="hide-for-print">      
    <div class="row">
      <div class="large-3 columns">
        <div>Centrum Břežánek z.ú.<br>
        <br>
        <a href="o-nas/kontakty/">Kde nás najdete <i class="fi-play"></i></a><br>
        Tel: 773 619 138<br>
        E-&#x6d;ail: <a href="&#x6d;ailto:&#x62;rezan&#x65;k&#64;&#x62;rezan&#x65;k.&#99;z">&#x62;rezan&#x65;k&#64;&#x62;rezan&#x65;k.&#99;z</a><br>
        IČO: 22732322</div>
        <div>
          <a href="https://www.youtube.com/channel/UCs1vFJdR7TUXlj4CCtwn0zQ" target="_blank" title="Videa na YouTube"><i class="fi-social-youtube"></i></a>
          &nbsp;&nbsp;
          <a href="https://www.facebook.com/brezanek" title="Náš Facebook"><i class="fi-social-facebook"></i></a>
          &nbsp;&nbsp;
          <a href="https://www.instagram.com/centrum_brezanek/" title="Náš Instagram"><i class="fi-social-instagram"></i></a>
          &nbsp;&nbsp;

          <a href="https://brezanek.webooker.eu/" target="_blank">Rezervační systém</a>
        </div>

      </div>

  <!-- Sponzoři -->
<div class="large-9 columns">
<h5 id="sponzori_nadpis">Sponzoři / Partneři</h5>
<ul class="medium-block-grid-7 large-block-grid-7 text-center sponsors">
<li><a class="th" href="http://www.dolnibrezany.cz/" title="Obec Dolní Břežany"><img src="/2-obrazky/loga/Břežany_nové_logo_web.bmp" alt="Obec Dolní Břežany" /></a></li>
<li><a class="th" href="http://www.ohrobec.cz" title="Obec Ohrobec "><img src="/2-obrazky/loga/ohrobec web.jpg" alt="Obec Ohrobec " /></a></li>
<li><a class="th" href="http://www.brezova-olesko.cz/" title="Obec Březová-Oleško"><img src="/2-obrazky/loga/březová oleško.jpg" alt="Obec Březová-Oleško" /></a></li>
<li><a class="th" href="https://www.remax-czech.cz/reality/re-max-g8-reality-10/katerina-teimlova/" title="REMAX Ing. Kateřina Teimlová"><img src="/2-obrazky/loga/Remax_Teimlova_new.jpg" alt="REMAX Ing. Kateřina Teimlová" /></a></li>
<li><a class="th" href="http://www.hipp.cz" title="HIPP"><img src="/2-obrazky/loga/Hipp WEB.JPG" alt="HIPP" /></a></li>
<li><a class="th" href="http://www.nastrelovani-doma.cz/" title="Sunny Smile"><img src="/2-obrazky/loga/nastřelování web.png" alt="Sunny Smile" /></a></li>
<li><a class="th" href="http://www.rossmann.cz/" title="ROSSMANN"><img src="/2-obrazky/loga/rosmann web.png" alt="ROSSMANN" /></a></li>
</ul>
</div>
    </div>
</footer>
<!-- END OF FOOTER AREA -->

<!-- BOTTOM SCRIPTS -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
<script>
  $(document).foundation();
</script>
<!-- END OF BOTTOM SCRIPTS -->
