<!-- HEADER AREA -->
<header>
    <div class="row">
      <div class="large-3 columns">
        <div class="top-space show-for-large-up" ></div>
        <div class="logo">
          <img src="/images/brezanek_750x372.png" alt="Logo Centrum Břežánek" />
        </div>
      </div>
      <div class="large-9 columns">
        <div class="top-icons show-for-large-up">
          <a href="https://www.youtube.com/channel/UCs1vFJdR7TUXlj4CCtwn0zQ" target="_blank" title="Videa na YouTube" class="down"><i class="fi-social-youtube"></i></a>
          &nbsp;
          <a href="https://www.facebook.com/brezanek" title="Náš Facebook" class="down"><i class="fi-social-facebook"></i></a>
          &nbsp;
          <a href="https://www.instagram.com/centrum_brezanek/" title="Náš Instagram" class="down"><i class="fi-social-instagram"></i></a>
          &nbsp;
          <!--<a href="http://www.brezanek.cz/napiste.html"><i class="fi-mail"></i></a>-->
          <a href="&#x6d;ailto:&#x62;rezan&#x65;k&#64;&#x62;rezan&#x65;k.&#99;z" title="Napište nám" class="down"><i class="fi-mail"></i></a>
          &nbsp;
          <a href="http://www.brezanek.cz/rss.html" title="Aktuality ve formátu RSS" class="down"><i class="fi-rss"></i></a>
          &nbsp;
          <a href="vyhledavani.html" title="Hledání" class="down"><i class="fi-magnifying-glass"></i></a>
          &nbsp;
          <a class="button secondary tiny rezervace" href="https://brezanek.webooker.eu/" target="_blank">Rezervační systém</a>
        </div>
  <!-- TOP MENU -->
        <nav  class="top-bar" data-topbar data-options="back_text:Zpět" role="navigation">
          <ul class="title-area">
            <li class="name"></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
          <section class="top-bar-section">
            <!-- Right Nav Section -->
<ul class="right">
<li><a href="https://www.brezanek.cz/">Novinky</a></li>
<li><a href="kurzy/">Kurzy</a></li>
<li><a href="akce/">Akce</a></li>
<li><a href="kempy/">Kempy</a></li>
<li><a href="miniskolka/">Dětská skupina</a></li>
<li><a href="pujcovna/">Půjčovna</a></li>
<li class="has-dropdown"><a href="ostatni/">Ostatní</a>
	<ul class="dropdown">
	<li><a href="ostatni/distribucni-misto/">Distribuční místo</a></li>
<li><a href="ostatni/ostatni/">Dárkový poukaz</a></li>
<li><a href="ostatni/klic/">Euroklíč</a></li>

</ul>
</li>
<li class="has-dropdown"><a href="o-nas/">O nás</a>
	<ul class="dropdown">
	<li><a href="o-nas/kdo-jsme/">Kdo jsme</a></li>
<li><a href="o-nas/kontakty/">Kontakty</a></li>
<li><a href="o-nas/zasady-zpracovani/">Zásady zpracování OÚ</a></li>
<li><a href="o-nas/projekty/2020.html">Projekty</a></li>
<li><a href="o-nas/info-pro-sponzory/">Podpořte nás</a></li>
<li><a href="o-nas/fotogalerie/">Fotogalerie</a></li>

</ul>
</li>

</ul>

          </section>

        </nav> 
  <!-- END OF TOP MENU -->
      </div>
    </div>
  </header>
<!-- END OF HEADER AREA -->
