<!-- LEFT COLUMN -->     
<div class="large-3 large-pull-9 columns hide-for-print">
    <div class="upcoming">
      <div class="upcoming-title">Připravujeme</div>
      <ul class="side-nav">
<li><a href="/kurzy/"><b>od června 2021</b><br>Zápisy na 1. pololetí šk. roku 2021/22</a></li>
<li><a href="/kempy/"><b>červenec,srpen</b><br>Letní příměstské kempy</a></li>
      </ul>
      <hr />
    </div>
    <div class="small-left"><a href="http://vigvam-db.cz/"><img src="/assets/images/vigvam-logo.png" /><br />	         
    Kurzy, akce - teen, dospělí, senioři</a></div>         
      <hr />
    <div class="small-left"><a href="o-nas/projekty/2020.html"><img src="/assets/images/OPZ_barevne_male.jpg" /><br />	         
    Dětská skupina v Centru Břežánek</a></div>         
    <div class="small-left"><img src="/assets/images/brezanek-znkvality.jpg"><br />	         
      <hr />
    <div><a href="https://givt.cz/RAOSset.php?organizationId=1945"><img src="/assets/images/givt-logo.png" /><br />
    <h4>Fandíte nám?</h4>
    <h5>Podpořte nás na <b>GIVT.cz</b>!</h5>
    <ol style="color:#222;">
        <li>Nakupujte v oblíbených e-shopech</li>
        <li>Část z vaší útraty půjde nám</li>
        <li>Vy nezaplatíte ani korunu navíc!</li>
    </ol>
    </a></div>
      <hr />
    <div style="text-align:center"><img src="/assets/images/LogoSPR.png" />
    </div>
    <hr />
    <div style="text-align:center"><a href="https://www.kudyznudy.cz/?utm_source=kzn&utm_medium=partneri_kzn&utm_campaign=banner" title="Kudyznudy.cz - tipy na výlet"> <img src="https://www.kudyznudy.cz/getmedia/beecd6e8-708b-421a-add8-92568ca7b1b5/logo-kudyznudy.gif.aspx" width="150"  height="64" border="0" alt="Kudyznudy.cz - tipy na výlet"> </a></div>
    </div>
</div>       
<!-- END OF LEFT COLUMN -->
