{{ define "main" }}
  <div>
    {{ range .Site.RegularPages }}
        {{ if eq .Section "novinky"}}
            <article class="bgwhite short-article">
                <header><h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3></header>
                {{ if .Params.obrazek }}
                    <img class="float_left" width="100" src="{{ .Params.obrazek }}" alt="" />
                {{ end }}
                <p></p>
                {{ .Content }}
                <p>&nbsp; </p>
                <div class="lastmod"><small><i>(Aktualizace: {{ .Lastmod.Format "2.1.2006" }})</i></small></div>
            </article>
        {{ end }}
    {{ end }}
</div>
{{end}}
